/* ==========FONT GOOGLE========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --background: #ffffff;
    --navbar: linear-gradient(to right, #f6b4ea , #ac1e46);
    --warna:#ffffff;
    --warna1: #000000;
    --warna3: black;
    --warna4: #ee67aa;
    --warna5: #ee5ed457;
    --warna7: #eb74b7;
    --warna8: #f9d8f63b;
}

html {
    scroll-behavior: smooth;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--warna1);
    background: var(--background);
    overflow-x: hidden; 
}

/* ========== NAVBAR ========== */
.navbar {
    background: var(--navbar);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    line-height: 0;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
}

.navbar span {
    color: var(--warna4); 
}

.logo {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--warna1);
    cursor: default;
    opacity: 0;
    animation: moveRight 1s ease forwards;
}

.navigasi_bar a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: .3s;
    margin: 30px;
    font-weight: 500;
    color: white;
    opacity: 0;
    animation: moveUp .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navigasi_bar a:hover {
    color: var(--warna);
}

/* ========== NAVBAR ========== */

/* ========== HOME ========== */
.home {
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    align-items: center;
    padding: 1px 10% 0;
}

.konten_home {
    max-width: 300px;
    position: relative;
    object-fit: contain;
}

.konten_home img {
    width: 700px;
    position: absolute;
    top: -270px;
    left: 550px;
    opacity: 0;
    animation: moveLeft 1s ease forwards;
    animation-delay: 2.5s;
    object-fit: contain;
}

.konten_home2 img {
    width: 700px;
    position: absolute;
    top: -270px;
    left: 550px;
    opacity: 0;
    grid-template-columns: minmax();
    object-fit: contain;
}

.konten_home h3 {
    font-size: 35px;
    font-weight: 700;
    opacity: 0;
    animation: moveDown 1s ease forwards;
    animation-delay: .7s;
}

.konten_home h3 span {
    color: var(--warna);
    font-weight: 700;
}

.konten_home h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: moveUp 1s ease forwards;
    animation-delay: .7s;
}

.konten_home h1 {
    font-size: 50px;
    color: var(--warna4);
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: moveRight 1s ease forwards;
    animation-delay: 1s;
}

.konten_home p {
    font-size: 20px;
    color: var(--warna1);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease forwards;
    opacity: 0;
    transform: translateX(100px);
    animation-delay: 1s;
    object-fit: contain;
}

.home_sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid var(--warna1);
    border-radius: 50%;
    font-size: 20px;
    color: var(--warna1);
    text-decoration: none;
    margin: 30px 10px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: moveLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home_sci a:hover {
    background: var(--warna1);
    color: var(--warna3);
    box-shadow: 0 0 20px var(--warna);
}

.tombol1 {
    display: inline-block;
    background: var(--warna1);
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 45px;
    font-size: 18px;
    color: var(--background);
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: moveUp 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px var(--warna1) 0 0 25px var(--warna1);
}

.tombol1:hover {
    box-shadow: 0 0 5px var(--warna1),
        0 0 25px var(--warna1), 0 0 50px var(--warna1), 0 0 100px var(--warna1);
}

/* ========== HOME =========== */

/* ========== ABOUT ME========== */

.about_me {
    display: grid;
    background: linear-gradient(to right, var(--warna5), var(--warna4));
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 100px calc(10% - 20px) 0; 
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(27, 231, 231, 0.442);
}

.teks h1 {
    font-size: 60px;
    color: var(--warna7);
}

.teks h2 {
    font-size: 60px;
}

.teks h2 span {
    color: var(--warna);
}

.teks h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--warna7);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.teks p {
    color: var(--warna1);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

/* ========== ABOUT ME ========== */


/* ========== EDUCATION ========== */

.container{
    padding: 0px 84px;
}
.main-wrapper{
    background-color: white;
    width: 33px;
    height: 470px;
    margin: -100px auto;
    border-radius: 33px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
}
.main-wrapper h1{
    text-align: center;
    padding: 34px 0 39px 0;
    font-size: 56px;
    color: #b62961;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.background {
    background: linear-gradient(to right, var(--warna7), var(--warna8));
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(27, 231, 231, 0.442);
}

.date {
    font-style: italic;
    color: #8baeb3;
    text-align: left;
}

.sub_judul {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub_judul span {
    color: #df9ad9;
}

.wadah {
    padding: 30px;
}

.daftar_Pendidikan {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));
    grid-gap: 40px;
    margin-left: 80px;
}

.daftar_Pendidikan div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-radius: 20px;
    border-right: 10px;
    transition: background .5s, transform .5s;
    box-shadow: 1px 1px 20px var(--warna1), 1px 1px 30px var(--warna);
}

.daftar_Pendidikan div:hover {
    transform: translateY(-10px);
}

/* ========== EDUCATION ========== */


/* ========== CERTIFICATE ========== */
.sertifikat {
    width: 100%;
    height: 100%;
    margin: 30px 30px 0 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    grid-template-columns: repeat(3, minmax(auto, auto));
    background: var(--navbar);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

.teks_utama {
    background-color: linear-gradient(to right, #54369f , #060e64);
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.teks_utama h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.teks_utama h2 span {
    color: var(--warna);
}

.konten_projek {
    display: grid;
    grid-template-columns: repeat(2, minmax(30px, auto));
    gap: 10px;
    margin: 30px 30px;
}

.baris {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.baris img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform .5s;
}

.lapisan {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.627), #fffffe);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height .5s;
}

.lapisan h5 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.lapisan p {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}

.lapisan a {
    text-decoration: none;
}

.lapisan i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: var(--warna);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.baris:hover img {
    transform: scale(1.1);
}

.baris:hover .lapisan {
    height: 100%;
}

/* ========== CERTIFICATE ========== */       


/* ========== HAKCIPTA ========== */
.hak_cipta {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--background);
    font-weight: 300;
    margin-top: 70%;
}

/* ========== HAKCIPTA ========== */

/* ========== CONTACT ========== */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}


@keyframes moveRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media only screen and (max-width: 498px) {
    .konten_sertifikat{
        grid-template-columns: repeat(1, minmax(auto, auto));
    }
}